@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Lato:ital,wght@1,300&family=Montserrat:ital,wght@0,400;0,900;1,100&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Lato:ital,wght@1,300&family=Montserrat:ital,wght@0,400;0,900;1,100&family=Poppins:wght@300;400;500;600;700;800;900&family=Ubuntu&display=swap');

body {
    font: "montserrat";
    text-align: center;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat-Bold";
}

.container-fluid {
    padding: 7% 15%
}

h3 {
    font-size: 1.3rem;
}

p {
    color: #8f8f8f;
}

#title {
    background-color: #ff4c68;
    color: #fff;
    text-align: left;
}

#title .container-fluid {
    padding-top: 3%;
    text-align: left;
}

.titleimg {
    width: 60%;
    position: absolute;
    right: 30%;
}


.big-heading {
    font-family: "Montserrat-black";
    line-height: 1.5;
    font-size: 3.5rem;
    font-weight: bold;

}


.navbar-brand {
    font-family: "ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}


.nav-items {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.3rem;
}

.navbar {
    padding-bottom: 4.5rem;
}

.downloadbuttton {
    margin: 5% 3% 5% 0;
}

.rotate {
    transform: rotate(20deg);
}

#features {
    padding: 7% 15%;
    justify-content: center;
    background-color: #fff;
    position: relative;
}

.featurebox {
    padding: 5%;
}

.feature-title {
    font-size: 1.3rem;
}

.icon {
    padding-bottom: 15px;
}

.icon:hover {
    color: #ff4c68;
}

#testimonials {
    background-color: #ef8172;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.testimage {
    width: 10%;
    border-radius: 100%;
}

.testtext {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 10%;
    line-height: 1.5;
    font-size: 3.5rem;
}

#press {
    background-color: #ef8172;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

#pricing {
    padding: 100px;
}

.pricing-heading {
    line-height: 1.5;
    font-size: 3.5rem;
}

.pricingcol {
    padding: 25px;
}

.pricetext {
    line-height: 1.5;
    font-size: 3.5rem;
}



#cta {
    background-color: #ff4c68;
    color: #fff;
}

#footer {
    margin-top: 3%;
}

.si-items {
    margin: 20px 10px;
}

@media (max-width:1028px) {

    #title {
        text-align: center;
    }

    .titleimg {
        position: static;
        transform: rotate(0);
    }
}